WCFProject_CE023_CE033_CE061/ShoppingCartWCFClient/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShopingCart" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShopingCart" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Item_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item_Price" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
</xs:schema>