WCFProject_CE023_CE033_CE061/ShoppingCartWCFClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopingCart" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AddProdCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProdCart" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProdCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProdCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecords" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCartRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCartRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCartRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCartRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCart_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCart" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AddProdCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProdCart" message="tns:IService1_AddProdCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProdCartResponse" message="tns:IService1_AddProdCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCartRecords" message="tns:IService1_GetCartRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCartRecordsResponse" message="tns:IService1_GetCartRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRecords" message="tns:IService1_DeleteRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRecordsResponse" message="tns:IService1_DeleteRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCartRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchCartRecord" message="tns:IService1_SearchCartRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchCartRecordResponse" message="tns:IService1_SearchCartRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCart" message="tns:IService1_UpdateCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCartResponse" message="tns:IService1_UpdateCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProdCart">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProdCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCartRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecords">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCartRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchCartRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCart">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/shoppingcartservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>